.modal-wraper {
    table {
        tbody {
            tr {
                cursor: pointer;
            }
        }
    }
    .btn-container {
        justify-content: center;
        display: flex;
    }
}