.modal-btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    .btnA {
        color: #46139f;
    }

    .btnB {
        color: #ff7f50;
    }

    .btn {
        margin: 0 5px;
        background-color: #FFFFFF;
    }
}

.page-loader-content {
    text-align: center;
    padding: 80px;
    border-radius: 10px;
}