.modal-btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    .btnA {
        color: #46139f;
    }

    .btnB {
        color: #ff7f50;
    }

    .btn {
        margin: 0 5px;
    }
}

.modal-wraper {
    .btnA {
        color: #46139f;
        background-color: #FFFFFF;
    }

    .btnB {
        color: #ff7f50;
        background-color: #FFFFFF;
    }

    .btnC {
        background-color: #FFFFFF;
        border: 1px solid #46139f;
        color: #000;
    }

    table {
        tbody {
            tr {
                cursor: pointer;
            }
        }

    }

    .btn-container {
        justify-content: center;
        display: flex;
    }
    p{
        color: #ff7f50;
    }
}

.page-loader-content {
    text-align: center;
    padding: 80px;
    border-radius: 10px;
}